.App {
  margin: 20px;
  background-color: white;
  color: #282c34;
}

.App-header {
  color: #282c34;
  text-align: center;
  margin: 20px auto;
  font-weight: 900;
  font-size: 4vw;
}

.App-footer {
  text-align: center;
  margin: 20px auto;
  font-size: 1vw;
  color: #282c34;
}

.App-link {
  text-decoration: underline;
  color: #282c34;
}
/* bring in normalize.css styles
@import-normalize;  */
/* rest of app styles */
