.Dictionary section {
  background: #f3f1f1;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(167, 108, 158, 0.3);
}

.Dictionary input {
  width: 100%;
  color: #3d1635;
  font-size: 16px;
  border-radius: 17px;
  padding: 15px 15px;
  border: 1px solid #aa6f9393;
}

.Dictionary input.form-control:active,
.Dictionary input.form-control:focus {
  border-color: rgba(167, 108, 158, 0.35);
  box-shadow: 0 0 0 0.2rem rgba(167, 108, 158, 0.35);
}

.Dictionary .Hint {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 18px;
}

h2.Word {
  font-size: 27px;
  margin-bottom: 5px;
}

.Meaning h2 {
  font-size: 25px;
}

.Dictionary h3 {
  font-size: 22px;
  text-align: center;
}

span.Transcription {
  font-size: 20px;
  color: #834777;
  margin-right: 10px;
  padding: 0;
}

audio {
  width: 240px;
  height: 37px;
  vertical-align: middle;
  margin: 5px 0;
  border: 1px solid #a7548760;
  border-radius: 20px;
}

audio:active,
audio:focus {
  box-shadow: 0 0 0 0.2rem rgba(167, 108, 158, 0.35);
  outline-style: none;
}

strong {
  color: #834777;
  margin: 10px 0;
  font-size: 17px;
}

.Definition {
  font-size: 17px;
  margin: 8px 0;
}

.Dictionary .Examples {
  font-size: 15.5px;
  color: #6d6b6b;
  margin: 2px 0 5px 15px;
}

.Synonyms {
  line-height: 18px;
  font-size: 17px;
  margin: 5px 0 5px 17px;
}

.synonym {
  font-size: 11px;
  padding: 1px 11px 2px;
  margin: 0px 5px 3px 0px;
  overflow-wrap: break-word;
  border: 0.5px solid #f5c4cedc;
  background-color: #f7d6dde5;
  border-radius: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.Photos img {
  border-radius: 4px;
  margin-bottom: 20px;
}
